.lockscreen {
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12, 0.6); /* Semi-transparent black */
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); /* Glassmorphism effect */
    transition: all 600ms ease-in-out;
}

.applylockscreen {
    opacity: 0.6; /* Slightly more visible */
    visibility: visible;
}

.spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top: solid 5px #6a11cb; /* Gradient color 1 */
    border-right: solid 5px #2575fc; /* Gradient color 2 */
    border-bottom: solid 5px #ff6f61; /* Coral color */
    border-left: solid 5px transparent; /* Transparent to create the spinner effect */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}